@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    cursor: pointer;
}

body {
    background-color: #ffffff;
    font-family: poppins;
    margin: 1rem;
}

header {
    background-color: #D7D2D2;
    border-radius: 4px;

}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    list-style-type: none;
}

.button-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    background-color: #C3C3C3;
    color: rgb(82, 81, 81);
    font-size: 13px;

}

.link-profile {
    color: rgb(78, 78, 78);
}

.section-1 {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}

.header-container {
    max-width: 51rem;
}

h1 {
    font-size: 76.38px;
    font-weight: 500;
    color: #424242;
}

.hand-wave {
    font-size: 20px;
    animation: wave 2s infinite;
}

@keyframes wave {

    0%,
    100% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(30deg);
    }
}

.title-header {
    display: flex;
    align-items: center;
}

.text-section-1 {
    text-align: justify;
    font-size: 11px;

}

.img-container img {
    width: auto;
}

.sub-section {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

}

.button-dev {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 20px 0;
}

.button-emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 122.5px;
    height: 40.5px;
    gap: 0.3rem;
    border-radius: 24px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.button-emoji:hover {
    transform: scale(1.1);
}

.sad {
    background-color: white;
    color: black;
}

.section-2 {
    margin-top: 0rem;
}


.section-3 {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    overflow: hidden;
    width: 605px;
    padding: 1rem;
    border-radius: 68px;

}

.menu-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    overflow-x: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.menu-icons::-webkit-scrollbar {
    display: none;
}

.arrow-left,
.arrow-right {
    cursor: pointer;
    padding: 0 0.7rem;
}


.card-tech {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 311px;
    border-radius: 25px;
}

.title-card,
.text-card {
    padding: 1rem;
}

.title-card {
    border-bottom: 1px solid black;
}

.text-card {
    overflow: auto;
}

.text-card p {
    margin-bottom: 1rem;
    font-size: 12px;
    font-weight: 400;
}

.more-about {
    width: 100%;
    height: 90px;
    margin: 0 1rem;
    padding: 9px;
    border-radius: 18px;
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(20px);
}

.more-about p {
    color: #424242;
    font-size: 16px;
}


.more-about a p {
    color: #FFFFFF;
    text-decoration: none;
}

.card-container {
    position: relative;
}

.card-more {
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.arrow-right-button {
    width: 18px;
}

.container-button {
    display: flex;
    justify-content: flex-end;
    align-content: baseline;
}

.button-more {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 30px;
    background-color: #4C577D;
    font-size: 12px;
    border-radius: 20px;

}

@media (max-width: 1024px) {
    .section-1 {
        flex-direction: column;
        align-items: center;
    }

    .section-3 {
        flex-direction: column;

    }

    .header-container,
    .img-container {
        max-width: 100%;
    }

    .img-container img {
        width: 100%;
    }

    .menu {
        width: 100%;
    }

    .card-tech {
        width: 100%;
        height: 164px;
    }

    .card-container .card-cell {
        width: 100%;
    }


}

/* Smartphones e abaixo */
@media (max-width: 480px) {
    .card-tech {
        width: 100%;
        height: 164px;
    }

    .card-container .card-cell {
        width: 100%;
    }

    h1 {
        font-size: 48px;
    }

    .section-3 {
        gap: 1rem;
    }


}